.box {
    margin: 10px 110px;
    background-color: #eee;
    border: 3px solid #ccc;
    text-align: center;
}

button.btn {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
    outline: none;
}

.btn.light {
    background-color: #4eafc9;
    border: 2px solid #2a89a2;
}

.btn.red {
    background-color: #dda66d;
    border: 2px solid #b6821a;
}

textarea {
    resize: none;
    background-color: #fafafa;
    border: 1.5px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    width: 90%;
    outline: none;
}

textarea:focus {
    border: 1.5px solid #6d79cd;
}

.btn.red:hover {
    background-color: #b6821a;
    border-color: #946912;
}
