  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    border-bottom: 3px solid black;
  }
  
  thead  button {
    font-weight: 700;
    font-size: inherit;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {  
    font-weight: 400;
    font-size: inherit;
    padding: 8px;
    margin: 10px;
  }
  
  tbody td {
    padding: 16px;
    border-bottom: 2px solid #ccc;
    
  }
  
  tbody tr:hover {
    background-color: #eee;
    color: coral;
  }

  .Table h3 {
    margin: 15px;
  }

  .Table p {
    margin: 10px;
  }

  .Table h2 {
    margin: 15px;
    
  }